* {
    margin: 0;
    padding: 0;
}

aside {
    width: 30%;
    padding-right: .5rem;
    margin-right: .5rem;
    float: right;
    color: #black;
}

aside > p {
    margin: .5rem;
}

#cardCount {
    height: 100vh;
}