
html, * {
    font-family: sans-serif;
    box-sizing: flex;
  }

.cards {
    width: 320px;
    height: 220px;
    padding: 10px;
    border: 5px solid red;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  
#gameMessages {
    width: 530px;
    padding: 5px;
    border: 5px solid red;
    margin: auto;
    display: flex;
  }
  
#playerTitle, #dealerTitle {
      color: blue;
      width: 100px;
      height: 60px;
      padding: 10px;
      border: 5px solid red;
      margin: 0;
      
  }
  
#dealer, #player {
    display: flex;
  }

  
button {
      background-color: blue;;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: flex;
      font-size: 16px;
      display:inline-block;
    }

  
button:hover {
      color: black;
  }

#restart:hover {
      background-color: red;
    }
#stay:hover {
      background-color: yellow;
    }
#hit:hover {
      background-color:  green;
    }